.albumCard {
  width: 250px;
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.albumCard-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.albumCard-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.albumCard:hover {
  transform: scale(1.1);
  border-color: gold;
}